
.NavBar{
    position: fixed; /* Set the navbar to fixed position */
    width: 100%;

    display: flex;
    justify-content: space-between;
    background-color: red;
    height: 50px;
    
}
.NavLogo{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: red;
}

.NavMenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    background-color: white;
    color: red;
    padding-right: 30px;

    
}
  