.Icon{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 45px;
    height: 45px;
    border: solid 1px red;
    border-radius: 50%;
}
FaUserAlt{
 width: fit-content;
 height: fit-content;
}