
.NavBar{
    position: fixed; /* Set the navbar to fixed position */
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    height: 50px;
    border-bottom: solid red;
    font-family: 'Bebas Neue', cursive;
    font-size: 25px;
    
}
.NavLogo{
    display: flex;
    align-items: center;
    padding: 5px;
    color: red;
}

.NavMenu{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    color: red;
    padding-right:5px;
}
a {
    text-decoration: none;
}
  