.Content-Wrap{
    padding-bottom: 50px;
    height: 100%;
}
.Grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;

}

.MovieContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 5px;
    height: 500px;
    width: 300px;
    border-bottom: solid red;
}
.PosterGrid{
    height: auto;
    width:100%;
}

ul{
    list-style-type: none;
}

.MovieProvider{
    display: flex;
    flex-wrap: wrap;
    
}

.ProviderItems{
    display:flex;
    width: auto;
    height: 25px;
}